<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">
    	<% if(theme.copyright) { %>
        &copy; <%= date(new Date(), 'YYYY') %> <%= theme.author || config.title %>
        <% } %>
        <div class="publishby">
        	<%= __('copyright.theme_by') %> <a href="https://github.com/wangxiuwen/" target="_blank"> wangxiuwen </a><%= __('copyright.base_on') %> <a href="https://github.com/wangxiuwen/hexo-theme-mix" target="_blank">mix</a>.
        </div>
    </div>
</footer>